* {
  font-family: 'Montserrat', sans-serif;
}
:focus-visible 
   {
    outline: 1px solid $gray-color;
  }

.visibility-none {
  display: none;
}

.layout {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1264px;
  box-sizing: border-box;
}

.button {
  color: $gray-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $color-gray-hover;
  }
}

.button--active {
  color: $color-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.btn {
  &:hover {
    border-bottom: 2px solid $color-gray-hover;
    padding-bottom: 3px;
  }
}

.active {
  border-bottom: 2px solid $color-primary;
  padding-bottom: 3px;
}

.btn-primary {
  border: 1px solid;
  font-weight: 400;
  color: white;
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }
  &:focus {
    background-color: $color-primary-focus;
    border-color: $color-primary-focus;
  }
}

.link {
  cursor: pointer;
  color: $color-primary-hover;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $color-primary-hover;
  }
  &:focus {
    color: $color-primary-focus !important;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 616px;
  box-sizing: border-box;
}