$gray-color: rgba(17, 17, 17, 0.48);
$color-primary: #01A7FD;
$color-primary-hover: #0F79AF;
$color-disabled: #CEECFC;
$color-primary-focus:#01A7FD;
$color-gray-hover: #6B6B6B; 
$black-color: #111111;